.enseignant{
    flex: 1;
    padding: 46px 82px;
    display: flex;
    flex-direction: column;

}
.logout-button {
    width: 120px;
    height: 40px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FCFAFA;
    background-color: #509CDB;
    font-family: 'Kumbh Sans';
    font-size: 14px;
    border-radius:8px;
    border: none;
   
}
.logout-div{
        position: absolute;
        top: 20px;
        right: 40px;
}
.logout-button:hover{
    background-color: #90bce0;
}
.emploi-de-temps {
    display: flex;
    width: 100%;
}

.enseignant-section::-webkit-scrollbar {
    width: 8px; 
}

.enseignant-section::-webkit-scrollbar-thumb {
background: #bababa; 
border-radius: 4px; 
}

.enseignant-section::-webkit-scrollbar-thumb:hover {
background: #939393;
}

.enseignant-section{
    overflow-y: scroll;
}
  
