.enseignant-section{
    flex: 1;
    padding: 46px 82px;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;

}

.emploi-de-temps {
    display: flex;
    width: 100%;
}

.enseignant-section::-webkit-scrollbar {
    width: 8px; 
}

.enseignant-section::-webkit-scrollbar-thumb {
background: #bababa; 
border-radius: 4px; 
}

.enseignant-section::-webkit-scrollbar-thumb:hover {
background: #939393;
}


