.justifications-table{
    width: 100%;
    font-size: 12px;
    border-collapse: collapse;
}



.justifications-table td, th{
    padding: 16px 8px;

}
.justifications-table th, td{
    text-align: start;

}

.student-row{
    background-color: white;
    
}

.professor-row{
    background-color: #ebf6ff82;
}

.professor-row > td{
    opacity: 100%;
}