.table-etudiant table,.table-etudiant th {
  
  border: 0.5px solid;
  border-width: 0.1px;
  border-color: lightgray;
  border-collapse: collapse;
}

.table-etudiant table{
  
  width: 100%;
}
.boutton-present,.boutton-absent{
  font-family: 'Roboto';font-size: 14px;
  margin-left: 25px;
  border: none;
  cursor:pointer ;
  
}
.table-etudiant tr,.table-etudiant td {
  height: 50px;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-family: 'Poppins';
  color: #6C757D;
}

.table-etudiant{

  
    max-height:fit-content; /* Adjust based on your needs */
    overflow-y: auto; /* Enables vertical scrolling */
    border: 1px solid #ddd;
    width: fit-content; /* Keeps width equal to table content */
    margin-right: auto; /* Aligns scrollbar to the table */

 
}
.boutton-present{
  color: white;
  background-color: #28A745;
  border-radius: 25px;
  height: 26px;
  width: 82px;
  border-color: white;
}
.boutton-absent{
  
  color: white;
  background-color: #DC3545;
  border-radius: 25px;
  height: 26px;
  width: 82px;
  border-color: white;
}
