
.etudiant{
    overflow-y: auto; 
}

.etudiant-stats{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    
}

@media (max-width: 1000px){
    .etudiant{
        padding: 46px 20px;
    }
}
