.logout{
    position: absolute;
    top :3%;
    right: 3%;
}


.etudiant{
    overflow-y: auto;
}

.etudiant-stats{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}